.grey{
    background: grey;
}
.yellow{
    background: yellow;
}
.pink{
    background: pink;
}
.blue{
    background: blue;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    margin: 40px;
}

.red{background: red;}
.blue {background: blue;}
.green{background: green;}
