<!DOCTYPE html>

<html>
    <head>
        <title>vue_2019</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

            <div id="app-17" >
                    <hr>
                    <p>Lesson 17 - Оптимизация приложения с computed</p>

                    <h2>Counter -  {{ counter }}</h2>
                    <h3>{{ condition }}</h3>

                    <button v-on:click="add">Add</button>
                    <button v-on:click="sub">Sub</button>

                    <p>4-30</p>

                </div>
                









        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        
        <div id="app-16" >
            <hr>
            <p>Lesson 16 - Работа со списками - v-for</p>
            
            <ul>
                <li v-for="(person, index) in people"> {{ index + 1 }}  {{ person.name }} - возраст: {{ person.age }} </li>
            </ul>

            <br>
            <br>

            <ol>
                <li v-for="num in 10"> Число -  {{ num }} </li>
            </ol>

            <br>
            <br>
            
            <ul>
                <li v-for="(value, key, index) in rabotnik"> {{ index + 1}} - {{ key }} - {{ value }} </li>
            </ul>    
        </div>



        <div id="app-14" >
            <hr>
            <p>Lesson 14 - Управление отображением элементов</p>
            
            <h2 v-if="isVisible">I im visible!</h2>
            <h2 v-else>No i am not!</h2>

            <button v-on:click="isVisible = !isVisible">Toggle</button>

            <!--Чтобы объединять блоки кода можно использовать TEMPLATE-->
            <template v-if="isVisible">
                <h2>I im title</h2>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, inventore!</h2>
            </template>

            <template v-else>
                <h2 style="color: red">I im title</h2>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, inventore!</h2>
            </template>

         </div>

        <div id="app-13" >
            <hr>
            <p>Lesson 13 - Динамические стили</p>
            
        <div class="circle" v-bind:style = "circleClasses" ></div>
        <div class="circle" v-bind:style = "[circleClasses, {'width' : height + 'px'}]" ></div>

        <input type="text" v-model = "color" >
        <input type="text" v-model = "height" >

    </div>

        <div id="app-12" >
            <hr>
            <p>Lesson 12 - Работа с CSS классами</p>
            
            <div 
                class="circle"
                @click="isActive = !isActive"
                v-bind:class = "getCssClasses">
            </div>

            <div class="circle" v-bind:class = "color"> </div>

            <input type="text" v-model="color">
        </div>


        <div id="app-11">
            <hr>
            <p>Lesson 11 - Модель для работы с формами</p>
            <input type="text" v-model = "inputValue" >

            <h2> {{ inputValue }} </h2>


    </div>
        
       
        <div id="app-7">
            <hr>
            <p>Lesson 7</p>

            <h2>{{title}} = {{ counter }} </h2>                        
            <button v-on:click = "go(5, $event)" >Увеличить на 5</button>
            <button v-on:click = "go(10, $event)" >Увеличить на 10</button>

         </div>    

        <div id="app-6">
            <hr>
            <p>Lesson 6</p>
            <h2 v-on:mouseover = "onHover" >Счетчик = {{ counter }} </h2>                        
            <button v-on:click = "clic" >Увеличить</button>

        </div>

        <div id="app-5">
                <hr>
                <p>Lesson 5</p>
                <h2 v-html="link"></h2>
        </div>

        <div id="app-4">
                <hr>
                <p>Lesson 4</p>
                <h2><a v-bind:href="url"> Google </a></h2>
                        
        </div>

        <div id="app-3">
                <hr>
                <p>Lesson 3</p>
                 <h3>Hello {{ name }} </h3>
                 <h3> Сумма =  {{10 + 7}} </h3>   
                 <h3>Сумма с переменными = {{a + b}} </h3>
                 <h3>Функция = {{ summa() }} </h3>
                 <h3>Function IF - {{forIf ? 'IF = true' : 'IF = false' }} </h3>
                 <h3>Перевертыш: {{forSplit.split('').reverse().join('')}} </h3>
                        
            </div>

        <hr>
        <div id="app">
            <span v-on:click="changeText"> Текст </span>
            <p> {{ title }} </p>
            <p v-bind:class="styleCSS"> Цвет:  {{styleCSS}} </p>
            <p v-on:click="testMethods"> {{ testDom }} </p>
            <input type="text" v-on:input="styleCSS = $event.target.value" >
        </div>

        <div id="app_2">
            <p>Новая форма</p>
            <input type="text" v-on:input="increment($event.target.value)">
            <p>{{ value }}</p>
            <p> {{ doubleValue }} </p>  
        </div>    

        <div id="app_3">
            <button v-on:click="show= !show"> Скрыть/показать</button> 
            <p v-if="show"> Текст, который может стать нивидимым </p>
            <p v-else> {{ message | capitalize }} </p>

            <ul>
                <li v-for="(car, i) in cars"> {{i + 1}} - {{car.model}}, скорость: {{car.speed}} </li>
            </ul>    

            <p>{{ message }}</p>

        </div>
        <hr>
        
        <div id="app_4">
            <p>11 урок</p>   
            <input type="text" v-on:input="inputValue = $event.target.value" >
            <h2> {{ inputValue }} </h2>
            
            <input type="text" v-model = "inputValue" >
            <h2> {{ inputValue }} </h2>
        </div>




        <script src="js/vue.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
